<div id="posts-content" class="flex flex-wrap overflow-y-auto">
</div>

<script type="text/javascript">
  const itemCount = <%= @pagy.items %>
  const pagyLastPage = <%= @pagy.last %>
  let currentPage = <%= @pagy.page %>;
  let isLoading = false;
  let lastItemCount = <%= @last_item.count %>

  $(document).ready(function() {
    addLoading()

    isLoading = true;
    $.get({
      url: '<%= posts_path %>',
      dataType: 'script',
    }).done(function() {
      isLoading = false;
    });
  })

  $(window).scroll(function() {
    const scrollTop = $(window).scrollTop();
    const winHeight = $(window).height();
    const docHeight = $(document).height();
    const lastPage = currentPage === pagyLastPage

    if((scrollTop + winHeight >= docHeight) && !isLoading && !lastPage) {
      let newPage = currentPage += 1;
      const newItemCount = (newPage === pagyLastPage) ? lastItemCount : itemCount;

      addLoading(newPage, newItemCount);

      isLoading = true;
      $.get({
        url: '<%= posts_path %>',
        dataType: 'script',
        data: { page: newPage },
      }).done(function() {
        isLoading = false;
      })
    }
  });

  function addLoading(page = currentPage, count = itemCount){
    let counter = 1;

    while(counter <= count){
      $("#posts-content")
      .append('<div class="content'+page+' w-1/2">'+
                '<div class="my-5 mx-4 py-5 px-5 bg-blue-100 rounded-lg text-gray-700">'+
                  '<div class="post-title'+counter+' animate-pulse py-3 bg-blue-600 w-1/3 rounded-lg"></div>'+
                  '<div class="post-content'+counter+' mt-1 animate-pulse py-3 bg-blue-600 w-2/3 rounded-lg"></div>'+
                '</div>'+
              '</div>');
      counter++
    }
  }
</script>
